@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

:root {
    --font01: "Share Tech", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    font-family: var(--font01);
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1000px;
    align-items: center;
}

li {
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

svg {
    display: block;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
}

nav {
    font-size: 15px;
}

main {
    max-width: 1000px;
    padding-top: 50px;
    text-align: center;
}

body {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 14px;
    font-family: var(--font01);
}

#produto {
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: left;
}

#preco {
    padding-top: 20px;
    font-size: 18px;
}

#parcela, #vista {
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



